{% set num_nodes = groups['all'] | length | int %}
{% if num_nodes >= 3 and num_nodes is odd %}
RQLITE_ARGS="-node-id={{ inventory_hostname }} \
-http-addr={{ rqlite_listen_ip }}:{{ rqlite_http_port }} -raft-addr={{ rqlite_listen_ip }}:{{ rqlite_raft_port }} \
-bootstrap-expect={{ num_nodes }} -join={{ groups['all'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | product([rqlite_raft_port]) | map('join', ':') | join(',') }} \
{{ rqlite_data_dir }}"
{% else %}
RQLITE_ARGS="-node-id={{ inventory_hostname }} \
-http-addr={{ rqlite_listen_ip }}:{{ rqlite_http_port }} -raft-addr={{ rqlite_listen_ip }}:{{ rqlite_raft_port }} \
{{ rqlite_data_dir }}"
{% endif %}
